$palette-base: #2f3944;
$palette-primary: #18222e;
$palette-secondary: #f4f4f4;
$palette-additional: #9babbd;
$palette-more: #edeae5;
$palette-border: #e8e8e8;

$palette-hover:#a3c000;

$width-desktop: 1440px;